[ req ]
default_bits       = 4096
prompt             = no
default_md         = sha256
distinguished_name = req_distinguished_name
x509_extensions    = v3_req

[ req_distinguished_name ]
C            = TW
ST           = Taipei
L            = Taipei
O            = Typersonal
OU           = Dev
CN           = 192.168.1.123  ; <<== 改成你主機的 IP

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 = 192.168.1.123           ; <<== 改成你主機的 IP
